<!DOCTYPE html>
<html>
    <head>
        <title>
            Home Page
        </title>
    </head>
    <body>
        
        <h2><a href="login">Login</a></h2>
        <h2><a href="signup">SignUp</a></h2>
    </body>
</html>