<!DOCTYPE html>
<html>
    <head>
        <title>
            Home Page
        </title>
    </head>
    <body>
        
        <h2><a href="login">Login</a></h2>
        <h2><a href="signup">SignUp</a></h2>
        <button onclick="logOut()"><a href="logout">LogOut</a></button>
    </body>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            function logOut(){
                var t = localStorage.getItem(token)
                t.clear()
            }
            
        </script>

</html>